# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse files
.classpath
.project
.settings

#idea
*.iml
.idea
/spid-spring-integration/target/
/spid-spring-rest/target/
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/css/coverage.css
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/css/idea.min.css
/htmlReport/ns-1/index.html
/htmlReport/ns-2/index.html
/htmlReport/ns-3/index.html
/htmlReport/ns-4/index.html
/htmlReport/ns-5/index.html
/htmlReport/ns-6/index.html
/htmlReport/ns-7/index.html
/htmlReport/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/ns-2/index_SORT_BY_BLOCK.html
/htmlReport/ns-3/index_SORT_BY_BLOCK.html
/htmlReport/ns-4/index_SORT_BY_BLOCK.html
/htmlReport/ns-5/index_SORT_BY_BLOCK.html
/htmlReport/ns-6/index_SORT_BY_BLOCK.html
/htmlReport/ns-7/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-2/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-3/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-4/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-5/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-6/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-7/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/ns-2/index_SORT_BY_CLASS.html
/htmlReport/ns-3/index_SORT_BY_CLASS.html
/htmlReport/ns-4/index_SORT_BY_CLASS.html
/htmlReport/ns-5/index_SORT_BY_CLASS.html
/htmlReport/ns-6/index_SORT_BY_CLASS.html
/htmlReport/ns-7/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-2/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-3/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-4/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-5/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-6/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-7/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/ns-2/index_SORT_BY_LINE.html
/htmlReport/ns-3/index_SORT_BY_LINE.html
/htmlReport/ns-4/index_SORT_BY_LINE.html
/htmlReport/ns-5/index_SORT_BY_LINE.html
/htmlReport/ns-6/index_SORT_BY_LINE.html
/htmlReport/ns-7/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-2/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-3/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-4/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-5/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-6/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-7/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/ns-2/index_SORT_BY_METHOD.html
/htmlReport/ns-3/index_SORT_BY_METHOD.html
/htmlReport/ns-4/index_SORT_BY_METHOD.html
/htmlReport/ns-5/index_SORT_BY_METHOD.html
/htmlReport/ns-6/index_SORT_BY_METHOD.html
/htmlReport/ns-7/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-2/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-3/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-4/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-5/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-6/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-7/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-2/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-3/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-4/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-5/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-6/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-7/index_SORT_BY_NAME_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-2/sources/source-1.html
/htmlReport/ns-3/sources/source-1.html
/htmlReport/ns-4/sources/source-1.html
/htmlReport/ns-5/sources/source-1.html
/htmlReport/ns-6/sources/source-1.html
/htmlReport/ns-7/sources/source-1.html
/htmlReport/ns-2/sources/source-2.html
/htmlReport/ns-4/sources/source-2.html
/htmlReport/ns-6/sources/source-2.html
/htmlReport/ns-2/sources/source-3.html
/htmlReport/ns-4/sources/source-3.html
/htmlReport/ns-6/sources/source-3.html
/htmlReport/ns-2/sources/source-4.html
/htmlReport/ns-6/sources/source-4.html
/htmlReport/ns-2/sources/source-5.html
/htmlReport/ns-2/sources/source-6.html
